<div class="container my-5">
  <div class="card details-card p-0">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img
          class="img-fluid details-img"
          [src]="product?.thumbnail_url"
          [alt]="product?.name"
        />
      </div>
      <div class="col-md-6 col-sm-12 description-container p-5">
        <p class="product-category mb-0">{{ product?.id }}</p>
        <div class="main-description">
          <h3>{{ product?.name }}</h3>
          <hr />
          <p class="product-price">R{{ product?.price }}</p>
          <hr />
          <p class="product-title mt-4 mb-1">{{ product?.short_description }}</p>
          <p class="product-description mb-4">{{ product?.long_description }}</p>
          <hr />
          @if(jwtHeaderService.token){
            <span><button type="button" class="btn btn-dark" (click)="addToCart()" routerLink="/cart">Add To Cart</button></span>
          }@else {
            <span><button type="button" class="btn btn-dark" (click)="alertFunct()">Add To Cart</button></span>
          }

          <span><button type="button" class="btn btn-dark" (click)="goBackToProducts()">Go Back To Products</button></span>
        </div>
      </div>
    </div>


    <!-- End row -->
  </div>
</div>


