<footer>
  <hr />
  <div class="option-container">
    <div class="help-list">
      <h4>Help</h4>
      <br />
      <a routerLink="/help" routerLinkActive="router-link-active">Help Centre</a
      ><br />
      <a href="/help">Suggest a Product</a><br />
      <a href="/help#return-policy">Returns and Policy</a><br />
    </div>
    <div class="account-list">
      <h4>Account</h4>
      <br />
      <a href="#">My Account</a> <br />
      <a href="#">Track Order</a> <br />
      <a href="#">Returns</a> <br />
    </div>
    <div class="company-list">
      <h4>Company</h4>
      <br />
      <a routerLink="/about" routerLinkActive="router-link-active">About Us</a
      ><br />
      <a href="/footer/company.html">Terms & Conditions</a><br />
      <a href="/footer/company.html">Privacy Policy</a><br />
    </div>
    <div class="social media">
      <h4>Follow us</h4>
      <br />
      <div id="logos">
        <a class="logo-link" href="#" aria-label="Facebook">
          <img src=".\icons\facebook.svg" alt="facebook" />
        </a>
        <a class="logo-link" href="#" aria-label="Twitter">
          <img src="icons/twitter.svg" alt="twitter" />
        </a>
        <a class="logo-link" href="#" aria-label="Instagram">
          <img src="icons/instagram.svg" alt="instagram" />
        </a>
        <a class="logo-link" href="#" aria-label="Linkedin">
          <img src="icons/linkedin.svg" alt="linkedin" />
        </a>
      </div>
    </div>
  </div>
  <br />
  <hr />
</footer>
