<div class="about">
    <img class="welcomePic" src="../images/WelcomePic1.png" alt=""> <br>
    <p>Your ultimate destination for premium fan T-shirts! We’re passionate about celebrating sports fandom and provide a wide range of merchandise for enthusiasts of soccer, netball, basketball, rugby, and cricket. <br> <br>

    At MerchDay, we source high-quality fan apparel from trusted brands to help you showcase your team pride in style. Whether you’re cheering from the stands or supporting from home, our collection offers something for every sports fan. <br> <br>
    
    Join the MerchDay community today and wear your fandom with pride!</p>
</div>

